<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/04/04/73/24/1000_F_404732417_vZ6EZV2C6JdvCJcdUqSMMevqdXgXJHS5.jpg);">
  <div class="container">
    <h1>Will's movie list</h1>
    <p>Feel free to add your own list!</p>
    <%= link_to "Create a new list", new_list_path, class: %w[btn btn-lrg btn-success]%>
  </div>
</div>
<div class="container">
  <div class="grid-container">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.attached? ? list.photo.key : "https://res.cloudinary.com/wvala/image/upload/v1653656942/cld-sample.jpg", height: 300, crop: :fill %>')">
        <%= link_to list.name, list %>
      </div>
    <% end %>
  </div>
</div>
